IF NOT EXISTS (
    SELECT name 
    FROM sys.databases 
    WHERE name = N'FINANCIAL_SYSTEM_DB'
)
BEGIN
    CREATE DATABASE [FINANCIAL_SYSTEM_DB];
END
GO

USE [FINANCIAL_SYSTEM_DB];
GO

/******  Table [dbo].[Banks]   ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Banks](
	[bank_id] [int] IDENTITY(1,1) NOT NULL,
	[description] [varchar](100) NOT NULL,
	[created_by] [varchar](60) NOT NULL,
	[created_at] [datetime] NOT NULL,
	[updated_by] [varchar](60) NULL,
	[updated_at] [datetime] NULL,
PRIMARY KEY CLUSTERED 
(
	[bank_id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO

/******  Table [dbo].[Card_Types]  ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Card_Types](
	[card_type_id] [int] IDENTITY(1,1) NOT NULL,
	[card_type_code] [varchar](10) NOT NULL,
	[description] [varchar](100) NOT NULL,
	[created_by] [varchar](60) NOT NULL,
	[created_at] [datetime] NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[card_type_id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY],
UNIQUE NONCLUSTERED 
(
	[card_type_code] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO

/******   Table [dbo].[Cards]  ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Cards](
	[card_id] [int] IDENTITY(1,1) NOT NULL,
	[bank_id] [int] NOT NULL,
	[currency_id] [int] NOT NULL,
	[card_type_id] [int] NOT NULL,
	[owner_name] [varchar](100) NOT NULL,
	[comment] [varchar](100) NOT NULL,
	[issue_date] [date] NOT NULL,
	[expiration_date] [date] NOT NULL,
	[cut_off_day] [int] NULL,
	[payment_day] [int] NULL,
	[created_by] [varchar](60) NOT NULL,
	[created_at] [datetime] NOT NULL,
	[updated_by] [varchar](60) NULL,
	[updated_at] [datetime] NULL,
PRIMARY KEY CLUSTERED 
(
	[card_id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO

/******  Table [dbo].[Currencies]    ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Currencies](
	[currency_id] [int] IDENTITY(1,1) NOT NULL,
	[description] [varchar](20) NOT NULL,
	[created_by] [varchar](60) NOT NULL,
	[created_at] [datetime] NOT NULL,
	[updated_by] [varchar](60) NULL,
	[updated_at] [datetime] NULL,
PRIMARY KEY CLUSTERED 
(
	[currency_id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO

/******   Table [dbo].[DepositCertificates]  ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[DepositCertificates](
	[certificate_id] [int] IDENTITY(1,1) NOT NULL,
	[bank_id] [int] NOT NULL,
	[currency_id] [int] NOT NULL,
	[owner_name] [varchar](20) NULL,
	[description] [varchar](20) NULL,
	[comment] [varchar](2000) NULL,
	[amount] [decimal](18, 2) NOT NULL,
	[interest_amount] [decimal](18, 2) NOT NULL,
	[start_date] [datetime] NOT NULL,
	[expiration_date] [datetime] NOT NULL,
	[created_by] [varchar](60) NOT NULL,
	[created_at] [datetime] NOT NULL,
	[updated_by] [varchar](60) NULL,
	[updated_at] [datetime] NULL,
	[isActive] [bit] NULL,
PRIMARY KEY CLUSTERED 
(
	[certificate_id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
ALTER TABLE [dbo].[Banks] ADD  DEFAULT (getdate()) FOR [created_at]
GO
ALTER TABLE [dbo].[Card_Types] ADD  DEFAULT (getdate()) FOR [created_at]
GO
ALTER TABLE [dbo].[Cards] ADD  DEFAULT (getdate()) FOR [created_at]
GO
ALTER TABLE [dbo].[Currencies] ADD  DEFAULT (getdate()) FOR [created_at]
GO
ALTER TABLE [dbo].[DepositCertificates] ADD  DEFAULT ((0)) FOR [amount]
GO
ALTER TABLE [dbo].[DepositCertificates] ADD  DEFAULT ((0)) FOR [interest_amount]
GO
ALTER TABLE [dbo].[DepositCertificates] ADD  DEFAULT (getdate()) FOR [created_at]
GO
ALTER TABLE [dbo].[DepositCertificates] ADD  DEFAULT ((0)) FOR [isActive]
GO
ALTER TABLE [dbo].[Cards]  WITH CHECK ADD  CONSTRAINT [FK_cards_Banks] FOREIGN KEY([bank_id])
REFERENCES [dbo].[Banks] ([bank_id])
GO
ALTER TABLE [dbo].[Cards] CHECK CONSTRAINT [FK_cards_Banks]
GO
ALTER TABLE [dbo].[Cards]  WITH CHECK ADD  CONSTRAINT [FK_cards_Card_Types] FOREIGN KEY([card_type_id])
REFERENCES [dbo].[Card_Types] ([card_type_id])
GO
ALTER TABLE [dbo].[Cards] CHECK CONSTRAINT [FK_cards_Card_Types]
GO
ALTER TABLE [dbo].[Cards]  WITH CHECK ADD  CONSTRAINT [FK_cards_Currencies] FOREIGN KEY([currency_id])
REFERENCES [dbo].[Currencies] ([currency_id])
GO
ALTER TABLE [dbo].[Cards] CHECK CONSTRAINT [FK_cards_Currencies]
GO
ALTER TABLE [dbo].[DepositCertificates]  WITH CHECK ADD  CONSTRAINT [FK_DepositCertificates_Banks] FOREIGN KEY([bank_id])
REFERENCES [dbo].[Banks] ([bank_id])
GO
ALTER TABLE [dbo].[DepositCertificates] CHECK CONSTRAINT [FK_DepositCertificates_Banks]
GO
ALTER TABLE [dbo].[DepositCertificates]  WITH CHECK ADD  CONSTRAINT [FK_DepositCertificates_Currencies] FOREIGN KEY([currency_id])
REFERENCES [dbo].[Currencies] ([currency_id])
GO
ALTER TABLE [dbo].[DepositCertificates] CHECK CONSTRAINT [FK_DepositCertificates_Currencies]
GO

/****** [dbo].[sp_GetDetail_Banks]  ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE procedure [dbo].[sp_GetDetail_Banks]
AS
BEGIN

	SELECT
		ca.card_id AS 'CardId',
		ba.description 'Bank',
		cu.description 'Currency',
		ct.card_type_code 'CardType',
		ca.owner_name 'OwnerName',
		ca.comment 'Comment',
		ca.issue_date 'IssueDate',
		ca.expiration_date 'ExpirationDate',
		CASE 
			WHEN ca.cut_off_day > 0 
				THEN 'Day:' + CAST(ca.cut_off_day AS VARCHAR) + '/ Monthly.'
			ELSE 'N/A' 
			END AS 'CutOffDay',

			CASE 
			WHEN ca.payment_day > 0 
				THEN 'Day:' + CAST(ca.payment_day AS VARCHAR) + '/ Monthly.'
			ELSE 'N/A' 
			END AS 'PaymentDay'

	FROM dbo.Cards ca
	INNER JOIN dbo.Banks ba ON ba.bank_id = ca.bank_id
	INNER JOIN dbo.Currencies cu ON cu.currency_id = ca.currency_id
	INNER JOIN dbo.Card_Types ct ON ct.card_type_id = ca.card_type_id

END


GO
